apiVersion: v2
name: matrix
description: A Helm chart to deploy a Matrix homeserver stack on Kubernetes
icon: "https://dacruz21.github.io/helm-charts/icons/matrix.svg"
home: "https://github.com/small-hack/matrix-chart"
sources:
  - "https://github.com/small-hack/matrix-chart"

type: application

version: 18.4.0

# renovate: image=ghcr.io/element-hq/synapse
appVersion: v1.122.0

maintainers:
  - name: "jessebot"
    url: "https://github.com/jessebot"

dependencies:
  - name: postgresql
    version: 16.3.1
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: postgresql.enabled

  - name: coturn
    version: 7.1.0
    repository: https://small-hack.github.io/coturn-chart
    condition: coturn.enabled

  - name: matrix-authentication-service
    alias: mas
    version: 1.3.1
    repository: https://small-hack.github.io/matrix-authentication-service-chart
    condition: mas.enabled
