name: Renovate
on:
  workflow_dispatch:
  schedule:
    # This should be every hour
    - cron: '55 * * * *'
  push:
    branches:
      - main
    paths:
      - ".github/renovate-config.json"
      - ".github/workflows/renovate.yml"
      - "renovate.json"
      - "scripts/**"
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: app-token
        uses: actions/create-github-app-token@v2
        with:
          private-key: ${{ secrets.PRIVATE_KEY }}
          app-id: ${{ secrets.APP_ID }}

      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v43.0.20
        with:
          token: '${{ steps.app-token.outputs.token }}'
          configurationFile: .github/renovate-config.json
